<div id="<%= dom_id font_task %>">
  <div class="taskCard">
    <h3>
      <%= "F#{font_task.id}" %>
    </h3>

    <div class="ref-cont" style="background-image: url(<%= font_task.vector_font.url %>)"></div>

    <%= image_tag font_task.first_answer_image.url, class: "firstImg" if font_task.first_answer_image.url %>

  </div>
</div>
