<div id="<%= dom_id texture_task %>">
  <div class="taskCard">
    <h3>
    <%= texture_task.name %>
    </h3>

    <div class="ref-container">
      <%= image_tag texture_task.texture_image.url, class: "refImg" if texture_task.texture_image.url %>
      <p>
        <%= texture_task.description %>
      </p>
    </div>

  </div>
</div>
