<div class="comment" id="<%= dom_id poly_comment %>">
	<div class="poly_commentBody">
		<p>
			<b>Написал:</b>
			<%= poly_comment.user.email %>
		</p>

		<p>
			<b>Коммент:</b>
			<%= poly_comment.body %>
		</p>

	</div>
</div>
