<div id="<%= dom_id colour_task %>">
  <div class="taskCard">
    <h3>

    </h3>

    <div class="ref-container">
      <div class="refImg" style="background-color: <%= colour_task.colour_hex %>"></div>
    </div>

  </div>
</div>
