<%= @profile.username %>
<div class="A_Ava medium">
    <%#= @profile.avatar_image.medium.url, class: "Q_Ava" if @profile.avatar_image.medium.url %>
</div>

<%= link_to "Edit", edit_profile_path(@profile) %>
