<div id="<%= dom_id texture_task %>">
  <div class="taskCard">
    <h3>
      <%= texture_task.name %>
    </h3>

    <%= image_tag texture_task.first_answer_image.url, class: "firstImg" if texture_task.first_answer_image.url %>

    <div class="ref-container">
      <%= image_tag texture_task.texture_image.url, class: "refImg" if texture_task.texture_image.url %>
    </div>

  </div>
</div>
