.O_CardNewTask {
  width: 100%;
  height: 812px;
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 44px;
  position: relative;
  border-radius: 28px;
  background: var(--white);

  .C_TaskAnswers {
    width: 50%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 20px 20px;
    flex-wrap: wrap;

    .A_TaskType {
      display: none;
    }
  }
}

.O_CardNewTask:nth-child(even) {
  flex-direction: row-reverse;
}

@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .O_CardNewTask {
    height: 670px;
    padding-top: 44px;
    margin-bottom: 0px;
    gap: 28px;
    border-radius: 30px;

    .C_TaskAnswers {
      width: 50%;
      padding-top: 44px;
      gap: 20px 20px;
    }
  }

  .O_CardNewTask:nth-child(even) {
    clip-path: none;
    flex-direction: row-reverse;

    .C_TaskAnswers {
      margin-right: 44px;
    }

    .O_TaskWithButtons {
      margin-left: 44px;
    }
  }

  .O_CardNewTask:nth-child(odd) {
    clip-path: none;

    .C_TaskAnswers {
      margin-left: 44px;
    }

    .O_TaskWithButtons {
      margin-right: 44px;
    }
  }

  .O_CardNewTask:first-child {
    clip-path: none;

    .C_TaskAnswers {
      padding-top: 50px;
    }
  }
}