.O_CardNewTask {
  width: 100%;
  height: 872px;
  padding-top: 60px;
  margin-bottom: -100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 44px;
  position: relative;
  background: var(--white);

  .C_TaskAnswers {
    width: 50%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 20px 20px;
    flex-wrap: wrap;
  }
}

.O_CardNewTask:nth-child(even) {
  clip-path: var(--card-new-task-even);
  flex-direction: row-reverse;
}

.O_CardNewTask:nth-child(odd) {
  clip-path: var(--card-new-task-odd);
}

.O_CardNewTask:first-child {
  clip-path: var(--card-new-task-first);

  .C_TaskAnswers {
    padding-top: 50px;
  }
}
