.O_Footer {
  width: 100vw;
  margin-top: 180px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .Q_Rect {
    background: var(--white);
    border-radius: 30px 30px 0 0;
    position: absolute;

    &.first {
      width: 100%;
      height: 100%;
      bottom: 0;
    }

    &.second {
      width: 972px;
      height: 100px;
      left: 15%;
      top: -25px;
    }

    &.third {
      width: 625px;
      height: 100px;
      right: 10%;
      top: -58px;
    }
  }
}

// адаптивы

@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .O_Footer {
    .Q_Rect {
      &.second {
        width: 756px;
      }
    }
  }
}

@media only screen and (min-width: 435px) and (max-width: 1023px) {
  .O_Footer {
    .Q_Rect {
      &.second {
        width: 300px;
      }
    }
  }
}

@media only screen and (max-width: 435px) {
  .O_Footer {
    .Q_Rect {

      &.second,
      &.third {
        display: none;
      }
    }
  }
}