.O_ProfileState {
  grid-column: 1 / 13;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 36px;
  padding: 44px 0 44px 44px;
  border-radius: 30px;
  background: var(--white);
  color: var(--main-blue);
  text-decoration: none;
  margin-bottom: 60px;

  p {
    font-size: 22px;
  }

  .Q_BannerScroll {
    margin-left: -60px;
    position: relative;
    overflow-x: scroll;

    .C_UsersAnswers {
      padding-left: 60px;
      right: 20px;
      display: flex;
      flex-direction: row;
      width: max-content;
      gap: 20px;
      padding-right: 44px;
      align-items: center;

      .M_AnswerPreview {
        height: 15.5vw;

        .A_TaskType {
          display: none;
        }

        .A_Ava {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  .O_ProfileState {
    gap: 26px;

    .M_ProfileRec {
      height: 165px;
      padding: 17px;

      .A_Ava {
        width: 140px;
        height: 140px;
      }
    }

    .Q_BannerScroll {
      .C_UsersAnswers {
        gap: 14px;

        .M_AnswerPreview {
          height: 202px;
          width: 202px;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .O_ProfileState {
    flex-direction: column;
    align-items: center;

    .M_ProfileRec {
      width: 89%;
      margin-top: -1vw;
      margin-left: -5vw;
      height: 25vw;
      padding: 5vw;

      .A_Ava {
        width: 20vw;
        height: 20vw;
      }

      .C_InfoNums {
        margin-top: 0.5vw;
        gap: 50px;

        h2 {
          font-size: 74px;
        }

        p {
          font-size: 16px;
        }
      }

      .A_TasksStrike {
        margin-top: 3vw;

        .Q_TasksStrikeCircle {
          width: 2.5vw;
          height: 2.5vw;
        }
      }
    }

    .Q_BannerScroll {
      align-self: flex-start;
      margin-left: -76px;
      width: 104vw;

      .C_UsersAnswers {
        padding-right: 40px;

        .M_AnswerPreview {
          width: 35vw;
          height: 35vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 440px) {
  .O_ProfileState {
    margin-top: 30px;
    align-items: center;

    .M_ProfileRec {
      width: 83%;
      margin-top: -5.5vw;
      margin-left: -10vw;
      height: 100vw;
      padding: 7vw;
      flex-direction: column;

      .M_AvatarName {
        margin-left: -1vw;
        margin-top: 3.5vw;

        .A_Ava {
          width: 40vw;
          height: 40vw;
        }
      }

      .C_InfoNums {
        margin-top: -8vw;
        margin-left: 2.5vw;
        gap: 56px;
        flex-direction: row;

        .A_InfoNum {
          gap: 8px;

          h2 {
            font-size: 68px;
          }

          p {
            font-size: 16px;
          }
        }
      }

      .A_TasksStrike {
        position: relative;
        margin-top: 2.5vw;
        margin-left: -4.5vw;
        align-items: center;

        p {
          font-size: 22px;
        }

        .C_TasksStrikeCircles {
          gap: 6px;
          width: 40%;

          .Q_TasksStrikeCircle {
            width: 2.5vw;
            height: 2.5vw;
          }
        }
      }
    }

    .Q_BannerScroll {
      align-self: flex-start;
      margin-left: -76px;
      width: 104vw;

      .C_UsersAnswers {
        padding-right: 40px;

        .M_AnswerPreview {
          width: 60vw;
          height: 60vw;
        }
      }
    }
  }
}

///
// @media only screen and (min-width: 320px) and (max-width: 700px) {
//   .O_ProfileState {
//     grid-column: 1 / 5;
//     flex-direction: column;
//     gap: 20px;
//     padding: 16px;

//     .C_UsersAnswers {
//       // height: 294px;
//       gap: 12px;
//     }
//   }
// }