.O_TasksOfDay {
  grid-column: 1 /13;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 40px;

  .C_TasksOfDay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
