.O_TaskBigWithButton {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  color: var(--white);

  .Q_TaskImage {
    width: 680px;
    height: 680px;
    clip-path: var(--task-big-clip);

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .C_TaskCircles {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 20px;

    .A_TaskType {
      margin-left: -22px;
    }
  }

  .M_Button {
    position: absolute;
    right: 0;
    bottom: 62px;
  }

  .M_TitleCardTask {
    margin-top: 12px;
    .A_TaskTitle {
      color: var(--white);
    }
    .A_MoreCircle {
      border-color: var(--white);
    }
  }
}
