.O_TaskWithButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  .Q_TaskImage {
    width: 39.3vw;
    height: 39.3vw;
    border-radius: 28px;

    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .C_TaskCircles {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20px;
    right: 20px;

    .A_TaskType {
      margin-left: -22px;
    }
  }

  .W_BottomPart {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 14px;
  }

  .W_Buttons {
    display: flex;
    gap: 12px;
  }

  .M_TitleCardTask {
    margin-top: 12px;
  }
}

@media only screen and (max-width: 440px) {
  .O_TaskWithButtons {
    .C_TaskCircles {
      top: 15px;
      right: 15px;

      .A_Ava,
      .A_TaskType {
        width: 36px;
        height: 36px;
        font-size: 30px;
      }
    }
  }
}


// @media only screen and (min-width: 1024px) and (max-width: 1660px) {
//   .O_TaskWithButtons {
//     .Q_TaskImage {
//       width: 540px;
//       height: 540px;
//       clip-path: none;
//       border-radius: 30px;
//     }

//     .C_TaskCircles {
//       .A_Ava {
//         width: 56px;
//         height: 56px;
//       }

//       .A_TaskType {
//         width: 56px;
//         height: 56px;
//         font-size: 48px;
//         margin-left: -10px;
//       }
//     }

//     .W_Buttons {
//       position: relative;
//       display: flex;
//       gap: 12px;
//     }

//     .M_TitleCardTask {
//       margin-top: 12px;
//     }
//   }
// }