.O_TasksExpire {
  grid-column: 1 / 13;
  height: 924px;
  position: relative;
  display: flex;
  flex-direction: row;
  color: var(--black);

  .Q_Rect {
    background: var(--white);
    border-radius: 30px;
    position: absolute;

    &.first {
      width: 89vw;
      height: 55vw;
      top: 0;
    }

    &.second {
      width: 5.8vw;
      height: 46.5vw;
      right: 100px;
      top: 0;
    }

    &.third {
      width: 7vw;
      height: 38.2vw;
      right: 2.6vw;
      top: 3.9vw;
    }

    &.fourth {
      width: 7vw;
      height: 32.4vw;
      right: 0;
      top: 7.7vw;
    }
  }

  .W_TasksExpireColumn {
    width: 100%;
    padding: 44px 44px 60px 44px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    z-index: 2;

    h1 {
      font-size: 42px;
      font-weight: 600;
      line-height: 100%;
    }
  }

  .W_TasksExpireRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 44px;

    .secondary {
      display: none;
    }
  }
}

@media only screen and (max-width: 1440px) {

  .O_TasksExpire {
    height: 55vw;

    .Q_Rect {
      &.first {
        width: 87vw;
      }

      &.second {
        width: 7vw;
      }

      &.third {
        right: 3.5vw;
      }

      &.fourth {
        height: 31vw;
      }
    }

    .W_TasksExpireColumn {
      h1 {
        font-size: 30px;
      }

      .W_TasksExpireRow {
        .A_MoreLength {
          margin-bottom: 9vw;

          p {
            font-size: 16px;
          }

          .Q_MoreCircle {
            width: 68px;
            height: 68px;

            h3 {
              font-size: 34px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .O_TasksExpire {
    height: 55vw;

    .Q_Rect {
      &.first {
        width: 90vw;
      }

      &.second {
        display: none;
      }
    }

    .W_TasksExpireColumn {
      .W_TasksExpireRow {
        .A_MoreLength {
          margin-left: -1vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .O_TasksExpire {
    height: 60vw;

    .Q_Rect {
      &.first {
        width: 87vw;
        height: 60vw;
      }

      &.second {
        display: none;
      }

      &.third {
        width: 17vw;
        height: 53vw;
        right: 5vw;
      }

      &.fourth {
        height: 46vw;
      }
    }

    .W_TasksExpireColumn {
      .W_TasksExpireRow {
        .A_MoreLength {
          margin-left: -2vw;

          p {
            display: none;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .O_TasksExpire {
    height: 70vw;

    .Q_Rect {
      &.first {
        width: 93vw;
        height: 70vw;
      }

      &.second,
      &.third {
        display: none;
      }

      &.fourth {
        height: 48vw;
        width: 10vw;
      }
    }

    .W_TasksExpireColumn {
      h1 {
        font-size: 24px;
      }

      .W_TasksExpireRow {
        .A_MoreLength {
          flex-direction: row;
          position: absolute;
          top: 58vw;
          right: 9.5vw;

          p {
            display: block;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .O_TasksExpire {
    height: 75vw;

    .Q_Rect {
      &.first {
        height: 75vw;
      }
    }

    .W_TasksExpireColumn {
      .W_TasksExpireRow {
        .A_MoreLength {
          top: 63vw;
          right: 10.7vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .M_Participants {
    display: none;
  }

  .O_AllSearchTasks {
    margin-top: 80px;
  }

  .O_TasksExpire {
    grid-column: 1 / 5;
    height: 255vw;

    .Q_Rect {
      &.first {
        width: 90vw;
        height: 222vw;
        top: 30px;
        left: 0;
      }

      &.second {
        display: block;
        width: 80vw;
        height: 248vw;
        top: 30px;
        left: 4vw;
      }

      &.fourth,
      &.third {
        display: none;
      }
    }

    .W_TasksExpireColumn {
      padding: 20px;

      h1 {
        font-size: 24px;
        margin-top: 12vw;
      }

      .W_TasksExpireRow {
        flex-direction: column;

        .O_TaskWithButtons {
          width: 80vw;
          left: 11vw;

          .Q_TaskImage {
            width: 100%;
            height: 100%;
          }

          .W_BottomPart {
            margin-top: 2px;
          }
        }

        .A_MoreLength {
          top: 230vw;
          right: -1.3vw;
        }
      }
    }
  }
}