.O_WinnerTasks {
  display: flex;
  flex-direction: column;
  width: 1100px;
  overflow: hidden;

  .C_WinTasks {
    display: flex;
    flex-direction: row;
    gap: 20px;

    .Q_TaskImage {
      width: 540px;
      height: 540px;
    }

    .secondary {
      display: none;
    }
  }

  .W_Buttons {
    display: none;
  }

  h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin: 44px 0 18px 0;
    color: var(--black);
    z-index: 100;
  }
}