<div class="A_Comment" id="<%= dom_id comment %>">
		 <%= image_tag comment.user.avatar_image.small.url, class: "Q_Ava" if comment.user.avatar_image.small.url %>

		<p>
			<%= comment.body %>
		</p>

		<div class="Q_MoreButton"></div>

		<div class="smallButtonsContainer">
		<% if can? :manage, comment %>
			 <%#= link_to "Редактировать", edit_task_answer_comment_path(task, answer, comment), class: "smallButton" %>
			 <%#= button_to "Удалить", [:task, answer, comment], method: :delete, class: "smallButton"  %>
		 <% end %>
		 </div>

		 <div class="commentReplies">
			 <% comment.replies.each do |reply| %>
		 	<%#= render reply, partial: "comments/comment", comment: reply, answer: answer %>
			<% end %>
		 </div>
</div>
