<div class="comment" id="<%= dom_id comment %>">
	<div class="commentBody">
		<p>
			<b>Написал:</b>
			<%= comment.user.email %>
		</p>

		<p>
			<b>Коммент:</b>
			<%= comment.body %>
		</p>

		<div class="smallButtonsContainer">
		<% if can? :manage, comment %>
			 <%#= link_to "Редактировать", edit_task_answer_comment_path(task, answer, comment), class: "smallButton" %>
			 <%#= button_to "Удалить", [:task, answer, comment], method: :delete, class: "smallButton"  %>
		 <% end %>
		 </div>

		 <div class="commentReplies">
			 <% comment.replies.each do |reply| %>
		 	<%= render reply, partial: "comments/comment", comment: reply, answer: answer %>
			<% end %>
		 </div>
	</div>
</div>
