<p>
	<b>Выполнил:</b>
	<%= comment.username %>
</p>

<p>
	<b>Ответ:</b>
	<%= comment.body %>
</p>

<p>
	<%= button_to 'Destroy Comment', [comment.task, comment], :confirm => 'Are you sure?', :method => :delete %>
</p>
