.A_Ava {
  width: 190px;
  height: 190px;
  border-radius: 100%;
  overflow: hidden;

  &.medium {
    width: 56px;
    height: 56px;
  }

  &.small {
    width: 40px;
    height: 40px;
  }

  &.xs {
    width: 28px;
    height: 28px;
  }

  .Q_Ava {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .A_Ava {
    width: 136px;
    height: 136px;

    &.medium {
      width: 28px;
      height: 28px;
    }

    &.small {
      width: 40px;
      height: 40px;
    }

    &.xs {
      width: 28px;
      height: 28px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .A_Ava {
    width: 136px;
    height: 136px;
  }
}