.A_ButtonMore {
  width: 44px;
  height: 12px;
  background-image: url('assets/Q_More.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 42px;
  cursor: pointer;
}
