.A_Close {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  background-image: url('assets/A_Close.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px;
  background-color: var(--white);
}

.A_Close:hover {
  background-color: var(--white-hover);
}

.A_Close:active {
  background-color: var(--white-click);
}
