.A_CommentMoreButton {
  width: 40px;
  height: 38px;
  background-image: url('assets/Q_CommentMoreButton.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
