.A_CommentField {
  display: block;
  width: 200px;
  border: none;
  border-bottom: solid 1px var(--gray);
  background: transparent;
  color: var(--main-blue);
  font-size: 14px;
  font-family: 'Fugue';
  font-style: normal;
  font-weight: 700;

  &::placeholder {
    color: var(--gray);
  }
}

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}
