.A_DeviseField {
  display: block;
  padding: 16px;
  padding-left: 52px;
  width: 472px;
  border: none;
  border-radius: 10px;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  font-family: 'Fugue';
  font-style: normal;
  font-weight: 400;

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    border: 1px solid var(--main-blue);
  }
}

.email,
.password {
  background-position: 16px center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
}

.email {
  background-image: url('assets/Q_Email.svg');
}

.password {
  background-image: url('assets/Q_Password.svg');
}
