.A_DeviseField {
  display: block;
  padding: 16px;
  padding-left: 52px;
  width: 472px;
  border: none;
  border-radius: 10px;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  font-family: 'Fugue';
  font-style: normal;
  font-weight: 400;

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    border: 1px solid var(--main-blue);
  }

  &.email,
  &.password,
  &.name,
  &.nickname {
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }

  &.email {
    background-image: url('assets/Q_Email.svg');
  }

  &.password {
    background-image: url('assets/Q_Password.svg');
  }

  &.name {
    background-image: url('assets/Q_Name.svg');
  }

  &.nickname {
    background-image: url('assets/Q_Nickname.svg');
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  #registration {
    .A_DeviseField {
      width: 228px;
    }
  }
}

@media only screen and (min-width: 328px) and (max-width: 703px) {
  .A_DeviseField {
    width: 260px;
  }
}
