.A_FormField,
select {
  display: block;
  padding: 16px;
  width: 508px;
  border: none;
  border-radius: 10px;
  background: var(--white);
  color: var(--black);
  font-size: 16px;
  font-family: 'Fugue';
  font-weight: 400;

  &::placeholder {
    color: var(--gray);
  }

  &:focus {
    border: 1px solid var(--main-blue);
  }

  &.email {
    width: 472px;
    padding-left: 52px;
    background-image: url('assets/Q_Email.svg');
    background-position: 16px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }
}
