.A_GalleryButtons {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  z-index: 2;

  .Q_GalleryButton {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 2px var(--main-blue);
    background-image: url("Q_GalleryButtonArrow.svg");
    background-position: center;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    cursor: pointer;

    &.right {
      transform: rotate(180deg);
    }

    &:hover {
      border: solid 2px var(--white-click);
      background-color: var(--white-click);
      transition: all 0.5s ease-out;
    }
  }
}