.A_MenuLogo {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-image: url("assets/A_Logo_white.svg");
  background-color: var(--black);
  background-size: 80%;
  background-position: center 22px;
  background-repeat: no-repeat;
}
