.A_MenuItem {
  padding: 20px 40px;
  font-size: 22px;
  text-decoration: none;
  border-radius: 40px;
  background: var(--white);
  color: var(--black);

  .Q_InSearch,
  .Q_AllTasks {
    color: var(--black);
    text-decoration: none;
  }

  .Q_AllTasks {
    margin-right: 14px;
  }
}
