.A_MenuLink {
  font-size: 22px;
  font-weight: 400;
  color: var(--black);
  text-decoration: none;

  &:hover {
    color: var(--main-blue);
    transition: all 0.5s ease-out;
  }
}

#tasks {
  .A_MenuLink:nth-child(2) {
    color: var(--main-blue);
  }
}

#search,
#expireSearch {
  .A_MenuLink:nth-child(3) {
    color: var(--main-blue);
  }
}

#how {
  .A_MenuLink:nth-child(4) {
    color: var(--main-blue);
  }
}