.A_MoreCircle {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid var(--black);

  &.small {
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .A_MoreCircle {
    width: 36px;
    height: 36px;
    font-size: 16px;
  }
}
