.A_MoreParticipants {
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  text-align: center;
  border-radius: 100%;
  border: 1px solid var(--black);
}
