.A_MoreLength {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  cursor: pointer;

  .Q_MoreCircle {
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid 2px var(--white-click);
    color: var(--white-click);
  }

  h3 {
    font-size: 68px;
  }

  p {
    font-size: 22px;
    width: 86px;
    text-align: center;
    color: var(--white-click);
  }

  &:hover {

    .Q_MoreCircle {
      color: var(--main-blue);
      background-color: var(--white-hover);
      border: solid 2px var(--white-hover);
      transition: all 0.5s ease-out;
    }

    p {
      color: var(--main-blue);
      transition: all 0.5s ease-out;
    }
  }
}