.A_Notification {
  display: block;
  width: 26px;
  height: 32px;
  margin: 0 18px 18px 30px;
  background-image: url("assets/A_Notification.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
