.A_Option {
  min-width: 140px;
  height: 26px;
  color: var(--black);
  font-family: 'Fugue';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  border-bottom: 1px solid var(--gray);

  &:hover {
    color: var(--blue-hover);
    border-bottom: 1px solid var(--blue-hover);
  }

  &:active {
    color: var(--blue-click);
    border-bottom: 1px solid var(--blue-click);
  }

  &.danger {
    color: #ff3b30;
    border-bottom: 1px solid #ff3b30;
  }
}
