.A_TasksStrike {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;

  .C_TasksStrikeCircles {
    display: flex;
    flex-direction: row;
    gap: 14px;
    align-items: center;
  }

  .Q_TasksStrikeCircle {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--lightgray);

    &.blue {
      background: var(--main-blue);
    }
  }
}
