.A_TaskTitle {
  font-size: 36px;
  font-weight: 400;
  color: var(--black);
  text-decoration: none;

  &.big {
    font-size: 52px;
  }
}

@media only screen and (max-width: 1440px) {
  .A_TaskTitle {
    &.big {
      font-size: 36px;
    }
  }
}