.A_Title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 18px;

  &.small {
    &:hover {
      color: var(--main-blue);
      cursor: pointer;
      transition: all 0.5s ease-out;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .A_Title {
    font-size: 24px;
    margin-bottom: 16px;
  }
}