<div class="O_TaskMediumWithButton white">
  <%= image_tag task.first_answer_image.medium.url, class: "Q_TaskImage" if task.first_answer_image.medium.url %>
    <%= render 'task_cards/task_circles', task: task %>

    <%= link_to "загрузить находку", task_path(task), class: "M_Button xs secondary blue" %>

    <%= render 'task_cards/task_title_big', task: task%>
</div>
