<div class="O_TaskWithButtons">
  <%= image_tag task.first_answer_image.large.url, class: "Q_TaskImage" if task.first_answer_image.large.url %>
    <%= render 'task_cards/task_circles', task: task %>
  <div class="W_BottomPart">
      <%= render 'task_cards/task_title_big', task: task%>
    <div class="W_Buttons">
     <%= render 'task_cards/marker_button', task: task %>
    </div>
  </div>
</div>
