<div class="O_TaskBigWithButton">
  <%= image_tag task.first_answer_image.large.url, class: "Q_TaskImage" if task.first_answer_image.large.url %>
    <%= render 'task_cards/task_circles', task: task %>

    <% if can? :create, Answer %>
      <%= link_to "загрузить находку", new_task_answer_path(@task), class: "M_Button m primary" %>
    <% end %>



    <%= render 'task_cards/task_title_big', task: task%>
</div>
