<div id="<%= dom_id task %>">
  <div class="taskCard">

    <%= image_tag task.first_answer_image.url, class: "firstImg" if task.first_answer_image.url %>
    <p>
    <strong>Type:</strong>
    <%= task.type %>
  </p>

  </div>
</div>
