<div id="<%= dom_id task %>">
  <div class="taskCard">
    <%= image_tag task.image.url, width: 300 if task.image.url %>

    <p>
      <strong><%= task.name %></strong>
    </p>

    <p>
      <%= task.description %>
    </p>

  </div>
</div>
