<div class="Q_Grid">
  <div class="M_AnswersFixedHeader">
    <div class="W_AnswersNavigation">
      <a href="javascript:history.back()" class="Q_ArrowBack"></a>
      <div class="W_SortOptions">
        <div class="A_SortOption active">
          новые
        </div>
        <div class="A_SortOption">
          популярные
        </div>
      </div>
    </div>

      <%= render 'task_cards/task_avatar_only', task: @task%>
      <% if task.active == true %>

      <% end %>

  </div>

</div>
