<!-- <div class="Q_Grid">
<div class="A_TaskPageTitles">
  <h2 class="A_Title">Реферес</h2>
  <h2 class="A_Title">Находки</h2>
</div>

<div class="O_TaskWithAnswers">
  <div class="Q_Rect first"></div>
  <div class="Q_Rect second"></div>
  <div class="Q_Rect third"></div>
  <div class="Q_Rect fourth"></div>
  <div class="W_TaskWithAnswers">

  </div>
</div> -->
  <% @tasks.each do |task| %>
      <%= render task %>
  <% end %>
