.M_AnswerOptions,
.M_CommentOptions,
.M_ProfileOptions {
  max-width: max-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: var(--white-hover);
  border-radius: 16px;
  position: absolute;

  &.hidden {
    display: none;
  }

  button,
  input[type='submit'],
  input[type='reset'] {
    background: none;
    color: inherit;
    border: none;
    border-bottom: solid 1px var(--gray);
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-align: left;
    font-family: 'Fugue';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    color: var(--black);
  }
}

.M_AnswerOptions {
  bottom: 60px;
  right: 20px;
}

.M_CommentOptions {
  bottom: 0px;
  right: 34px;

  .A_Option {
    min-width: 120px;
  }
}

.M_ProfileOptions {
  top: 80px;
  left: 30px;
}
