.M_Button {
  width: 200px;
  padding: 12px 0;
  font-size: 20px;
  color: var(--main-blue);
  text-decoration: none;
  text-align: center;
  border-radius: 30px;
  background: var(--white);
  transition: all 0.3s ease;
  user-select: none;
  cursor: pointer;

  &:hover {
    color: var(--white);
    background: var(--main-blue);
  }

  &.primary {
    color: var(--white);
    background: var(--main-blue);
  }

  &.primary.white {
    color: var(--main-blue);
    background: var(--white);
  }

  &.primary:hover {
    color: var(--white);
    background: var(--black);
  }

  &.secondary {
    background: transparent;
    border: solid 1px var(--main-blue);
  }

  &.s {
    padding: 20px 0px;
    width: 250px;
    font-size: 22px;
  }

  &.xs {
    padding: 12px 0px;
    width: 200px;
    font-size: 20px;
  }

  &.m {
    width: 286px;
    padding: 18px 0;
    font-size: 28px;
  }
}
