.M_Button {
  // width: 200px;
  padding: 12px 24px;
  font-size: 20px;
  color: var(--main-blue);
  text-decoration: none;
  text-align: center;
  border-radius: 50px;
  background: var(--white);
  transition: all 0.3s ease;
  user-select: none;
  cursor: pointer;

  &:hover {
    background: var(--white-hover);
  }

  &:active {
    background: var(--white-click);
  }

  &.primary {
    color: var(--white);
    background: var(--main-blue);

    &:hover {
      background: var(--blue-hover);
    }

    &:active {
      background: var(--blue-click);
    }
  }

  &.primary.white {
    color: var(--main-blue);
    background: var(--white);

    &:hover {
      background: var(--white-hover);
    }

    &:active {
      background: var(--white-click);
    }
  }

  &.secondary {
    background: transparent;
    border: solid 1px var(--main-blue);

    &:hover {
      background: var(--white-hover);
      border: solid 1px var(--white-hover);
    }

    &:active {
      background: var(--white-click);
      border: solid 1px var(--white-click);
    }
  }

  &.secondary.blue {
    color: var(--white);
    background: transparent;
    border: solid 1px var(--white);

    &:hover {
      color: var(--main-blue);
      background: var(--white-hover);
      border: none;
    }

    &:active {
      color: var(--main-blue);
      background: var(--white-click);
      border: none;
    }
  }

  &.s {
    padding: 20px 24px;
    // width: 250px;
    font-size: 22px;
  }

  &.xs {
    padding: 12px 24px;
    // width: 200px;
    font-size: 20px;
  }

  &.m {
    // width: 286px;
    padding: 18px 32px;
    font-size: 28px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .M_Button {
    // width: 200px;
    padding: 12px 0;
    font-size: 20px;

    &.m {
      // width: 185px;
      padding: 12px 0;
      font-size: 20px;
    }
  }
}
