.M_FooterBody {
  width: 1660px;
  padding: 60px 40px 80px 40px;
  display: flex;
  flex-direction: column;
  gap: 120px;
  position: relative;
  z-index: 2;

  .C_FooterLinks,
  .W_LeftLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .W_LeftLinks {
    width: 30%;
  }

  .W_TwoLinks {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .A_Logo {
    background-image: url("assets/A_Logo.svg");

    &:hover {
      background-image: url("assets/A_Logo_blue.svg");
      transition: all 0.5s ease-out;
    }
  }
}

@media only screen and (max-width: 435px) {
  .M_FooterBody {
    padding: 40px;

    .A_Logo {
      width: 70px;
    }

    .C_FooterLinks {
      flex-direction: column;

      .W_LeftLinks {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-between;

        .W_TwoLinks {
          width: 60%;

          .A_FooterLink:nth-of-type(1),
          .A_FooterLink:nth-of-type(2) {
            width: 100%;
          }
        }

        .A_FooterLink:nth-of-type(1) {
          width: 40%;
        }
      }

      .W_TwoLinks:nth-of-type(2) {
        width: 45%;
        margin-left: 60%;
      }
    }
  }
}