.M_Participants {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0;
}

@media only screen and (min-width: 740px) and (max-width: 1040px) {
  .M_Participants {
    display: none;
  }
}