.M_ProfileInfoRec {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;

  .C_InfoNums {
    display: flex;
    flex-direction: row;
    gap: 62px;
    align-items: center;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .M_ProfileInfoRec {
    gap: 34px;

    .C_InfoNums {
      gap: 28px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .M_ProfileInfoRec {
    position: relative;
    width: auto;
    flex-direction: column;
    gap: 32px;

    .C_InfoNums {
      width: 100px;
      flex-direction: column;
      gap: 20px;
    }

    .A_TasksStrike {
      position: absolute;
      left: 16px;
      bottom: 16px;
    }
  }
}
