.M_TextWithButton {
  width: 420px;
  margin-left: 140px;
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 72px;
  position: relative;
  z-index: 2;

  .W_TextBlock {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--black);

    h1 {
      font-size: 42px;
      font-weight: 600;
    }

    p {
      font-size: 22px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .M_TextWithButton {
    width: 386px;
    margin-left: 80px;
    margin-top: 80px;
    gap: 44px;

    .W_TextBlock {
      h1 {
        font-size: 32px;
        width: 70%;
      }
    }
  }
}
