.M_TitleWithFilters {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  .A_Title {
    margin-bottom: 0;
  }

  .W_TitleCounter {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .W_Fiters {
    display: flex;
    align-items: center;
    gap: 28px;

    .C_TasksTypes {
      display: flex;
      gap: 14px;
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1660px) {
  .M_TitleWithFilters {
    margin-bottom: 24px;

    .W_TitleCounter {
      gap: 16px;
    }

    .W_Fiters {
      gap: 4px;

      .C_TasksTypes {
        gap: 12px;
        margin-right: 24px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .M_TitleWithFilters {
    flex-wrap: wrap;

    .W_Fiters {
      margin-top: 26px;
      margin-bottom: -30px;
    }
  }
}