.M_TitleWithFilters {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .A_Title {
    margin-bottom: 0;
  }

  .W_TitleCounter {
    display: flex;
    gap: 10px;
  }

  .W_Fiters {
    display: flex;
    align-items: center;
    gap: 28px;

    .C_TasksTypes {
      display: flex;
      gap: 14px;
    }
  }
}
