<div class="O_WelcomeBanner">
  <div class="Q_Rect first"></div>
  <div class="Q_Rect second"></div>
  <div class="M_WelcomeBannerText">
    <div class="Q_Rect first"></div>
    <div class="Q_Rect second"></div>
    <div class="Q_Rect third"></div>
    <h1>Ищи рефы у себя в окружении</h1>
    <p>Выполняй задания и собирай свою коллекцию разных рефов в профиле</p>
  </div>
  <div class="W_LettersText">
    <div class="A_LettersText">
      <div class="Q_LetterCyrcle">
        <h1>S</h1>
      </div>
      <p>shape</p>
    </div>

    <div class="A_LettersText">
      <div class="Q_LetterCyrcle">
        <h1>C</h1>
      </div>
      <p>colour</p>
    </div>

    <div class="A_LettersText">
      <div class="Q_LetterCyrcle">
        <h1>T</h1>
      </div>
      <p>texture</p>
    </div>

    <div class="A_LettersText">
      <div class="Q_LetterCyrcle">
        <h1>F</h1>
      </div>
      <p>font</p>
    </div>

    <div class="A_LettersText">
      <div class="Q_LetterCyrcle">
        <h1>R</h1>
      </div>
      <p>regularity</p>
    </div>
  </div>
  <div class="M_Button primary m">
    <p>войти</p>
  </div>
</div>
