<div class="A_ProfileAnswerPreview">
  <%= image_tag answer.answer_image.extrasmall.url, class: "Q_ProfileAnswerImage" if answer.answer_image.extrasmall.url %>
  <div class="A_TaskType">
    <%= answer.task.type[0]%>
  </div>
</div>
