<div id="<%= dom_id task %>">
  <div class="taskCard">

    <%= image_tag task.first_answer_image.url, class: "firstImg" if task.first_answer_image.url %>

    <div class="ref-container">
      <%= image_tag task.ref_image.url, class: "refImg" if task.ref_image.url %>
    </div>

  </div>
</div>
