<div class="Q_Grid">
<div class="S_RefForm">
<%= render "form", task: @task, url: admin_task_path %>
</div>

<div>
  <%= link_to "Show this task", admin_task_path(@task) %> |
  <%= link_to "Back to tasks", admin_tasks_path %>
</div>
</div>
