<h1>Editing task</h1>

<%= render "form", task: @task, url: admin_task_path([:admin, @task]) %>

<br>

<div>
  <%= link_to "Show this task", admin_task_path(@task) %> |
  <%= link_to "Back to tasks", admin_tasks_path %>
</div>
