<section class="container">
<div class="title">
    <h1>Задания</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
     <br>
    <br>
    <br>
    <br>
    <%= link_to "Новое задание", new_admin_task_path, class: "button" %>
  </div>
  
  <% @tasks.each do |task| %>
      <%= render task %>
  <% end %>
</section>

 