<section class="O_SuggestionWarning">
  <div class="Q_Rect first"></div>
  <div class="Q_Rect second"></div>
  <div class="Q_Rect third"></div>
  <div class="M_TextWithButton">
    <div class="W_TextBlock">
      <h1>Твоя фотография не прошла модерацию!</h1>
      <p>Причина: ненормативное содержание</p>
      <p>Ты загрузил неприемлемый контент. Он не соответствует нашим моральным и этическим нормам. Мы вынуждены сделать тебе замечание.</p>
    </div>
    <div class="W_Buttons">
      <div class="M_Button primary s">принять</div>
    </div>
  </div>
  <div class="W_RefPartial">
    <div class="A_HiddenTaskTitle"><%= "#{task.type[0]}#{task.id}" %></div>
    <div class="A_Warning">
      <div class="Q_Circle"></div>
      <div class="Q_Circle"></div>
      <div class="Q_Circle"></div>
      <h1></h1>
    </div>
    <p>После 3 замечания твой аккаунт будет заблокирован</p>
  </div>

</section>
