<body id="about">
  <div class="w_align">
    <div class="firstBlock">
        <p>НАША КОМАНДА</p>
        <div class="avas">

            <div class="ulya">
                <div class="photo"></div>
                <p>УЛЯ</p>
                <div class="nik">
                    <div class="tg"></div>
                    <p>@uvvorobyova</p>
                </div>
            </div>

            <div class="katya">
                <div class="photo"></div>
                <p>КАТЯ</p>
                <div class="nik">
                    <div class="tg"></div>
                    <p>@Katato_potato</p>
                </div>
            </div>

            <div class="tanya">
            <div class="photo"></div>
                <p>ТАНЯ</p>
                <div class="nik">
                    <div class="tg"></div>
                    <p>@tauta_inka</p>
                </div>
            </div>
        </div>
    </div>



    <div class="secondBlock">
        <div class="categories">
            <div class="b1">
                <div class="letter">
                    <p>S</p>
                </div>
                <p>shape</p>
            </div>
            <div class="b2">
                <div class="letter">
                    <p>C</p>
                </div>
                <p>colour</p>
            </div>
            <div class="b3">
                <div class="letter">
                    <p>T</p>
                </div>
                <p>texture</p>
            </div>
            <div class="b4">
                <div class="letter">
                    <p>R</p>
                </div>
                <p>regularity</p>
            </div>
            <div class="b5">
                <div class="letter">
                    <p>F</p>
                </div>
                <p>font</p>
            </div>
        </div>

        <div class="text">
            <p>МИССИЯ</p>
            <p>Наша миссия — повысить насмотренность дизайнеров внутри городской среды и обыденности. С помощью разных заданий мы развиваем креативность и помогаем находить вдохновение в обычных вещах.</p>
        </div>
    </div>



    <div class="thirdBlock">
        <p>ОТДЕЛЬНОЕ СПАСИБО</p>
        <p>Захар День</p>
        <p>Вадим Булгаков</p>
        <p>Дмитрий Александров</p>
        <div class="hseLogo"></div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <%= render 'support/support_form', support: Support.new %>


  </div>
  </body>
