<body id="about">
  <section id="team">
    <div class="teamContainer">
      <h1>КОМАНДА</h1>
      <div class="wrapper">
        <div class="memberContainer">
          <img src="/assets/ulya.png" alt="">
          <p>Уля</p>
          <a href="https://web-telegram.ru/#@uvvorobyova">@uvvorobyova</a>
        </div>

        <div class="memberContainer">
          <img src="/assets/katya.png" alt="">
          <p>Катя</p>
          <a href="https://web-telegram.ru/#@Katato_potato">@Katato_potato</a>
        </div>

        <div class="memberContainer">
          <img src="/assets/tanya.png" alt="">
          <p>Таня</p>
          <a href="https://web-telegram.ru/#@tauta_inka">@tauta_inka</a>
        </div>
      </div>
    </div>
  </section>

  <section id="misson">
    <div class="missionContainer">
      <div class="wrapper">
        <h1>МИССИЯ</h1>
        <p>наша миссия повысить насмотренность дизайнеров внутри городской среды и обыденности. посредством фото-челленджей мы развиваем креативность и помогаем находить вдохновение в обычных вещах.</p>
      </div>
    </div>
  </section>

  <section id="mechanic">
    <div class="machanicContainer">
      <h1>МЕХАНИКА</h1>
      <div class="wrapper">
        <div class="first">
          <div class="textContainer">
            <p class="number">1</p>
            <p>Посмотреть на референс и определить, что надо искать</p>
          </div>
          <img src="/assets/first.png" alt="" class="fImg">
        </div>

        <img src="/assets/arrow.svg" alt="" class="arrow one">

        <div class="second">
          <div class="textContainer">
            <p class="number">2</p>
            <p>Сфоткать и выложить под заданием</p>
          </div>
          <img src="/assets/second.png" alt="" class="secondImg">
        </div>

        <img src="/assets/arrow.svg" alt="" class="arrow two">

        <div class="third">
          <div class="textContainer">
            <p class="number">3</p>
            <p>набирать лайки и становиться победителем</p>
          </div>
          <img src="/assets/third.png" alt="" class="thirdImg">
        </div>

        <img src="/assets/arrow.svg" alt="" class="arrow three">

        <div class="fourth">
          <div class="textContainer">
            <p class="number">4</p>
            <p>получать возможность становиться “магом” и открывать новые задания первым, а потом апвоутить фотки других участников</p>
          </div>
          <img src="/assets/fourth.png" alt="" class="fourthImg">
        </div>

      </div>
    </div>
  </section>

  <section id="tasksTypes">
    <div class="typesContainer">
      <h1>ЗАДАНИЯ</h1>
      <p>5 КАТЕГОРИЙ ДЛЯ ПОИСКА</p>
      <div class="wrapper">
        <div class="typeContainer">
          <img src="/assets/taskC.png" alt="">
          <p>цвет</p>
          <p class="sub">color</p>
        </div>

        <div class="typeContainer">
          <img src="/assets/taskS.png" alt="">
          <p>форма</p>
          <p class="sub">shape</p>
        </div>

        <div class="typeContainer">
          <img src="/assets/taskF.png" alt="">
          <p>шрифт</p>
          <p class="sub">font</p>
        </div>

        <div class="typeContainer">
          <img src="/assets/taskT.png" alt="">
          <p>текстура</p>
          <p class="sub">texture</p>
        </div>

        <div class="typeContainer">
          <img src="/assets/taskR.png" alt="">
          <p>закономерность</p>
          <p class="sub">regularity</p>
        </div>
      </div>
    </div>

    <img src="/assets/tasksBg.png" alt="" class="tasksBg">
  </section>
</body>
