<div class="Q_Grid">
  <% if user_signed_in? %>
  <%= render 'allTasksBanners/profile_state'%>
<% end %>

<section class="O_TasksOfDay">
  <h2 class="A_Title">идет голосование</h2>
  <div class="C_TasksOfDay">
  <% @vote_tasks.each do |task| %>
    <%= render 'task_cards/vote_task_card', task: task%>
  <% end %>
  </div>
</section>

<%= render 'SuggestionForm/suggestions', task: @random_task %>

<section class="O_AllActiveTasks">
  <div class="M_TitleWithFilters">
    <div class="W_TitleCounter">
      <div class="A_Title">все задания</div>
      <div class="A_MoreCircle">
        <p>+<%#=task.length %></p>
      </div>
    </div>
    <div class="W_Fiters">
      <div class="C_TasksTypes">
        <div class="A_TaskType inactive">S</div>
        <div class="A_TaskType inactive">C</div>
        <div class="A_TaskType inactive">F</div>
        <div class="A_TaskType inactive">R</div>
        <div class="A_TaskType inactive">T</div>
      </div>

      <div class="A_Filter">
        <p>сортировать по</p>
      </div>
    </div>
  </div>
  <% @active_tasks.each do |task| %>
    <%= render 'task_cards/card_new_tasks', task: task%>
  <% end %>
</section>
</div>
