<body id="how">
  <div class="how_container">
    <div class="how_gallery">
      <div class="how_gallery_counter">
        <div class="counter">
          <p class="counter_p">1</p>
        </div>
        <div class="all_count">
          <p>6</p>
        </div>
      </div>

      <div class="how_gallery_rail">
        <div class="how_slide">
          <div class="text_block">
            <h2>ТИПЫ ЗАДАНИЙ</h2>
            <p>В рефс находки могут быть 5 видов</p>
          </div>
          <div class="content_block">
            <div class="types">
              <div class="type">
                <div class="circle">
                  <p>C</p>
                </div>
                <p>colour</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>R</p>
                </div>
                <p>regularity</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>S</p>
                </div>
                <p>shape</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>T</p>
                </div>
                <p>texture</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>F</p>
                </div>
                <p>font</p>
              </div>
            </div>
          </div>
        </div>

        <div class="how_slide">
          <div class="text_block">
            <h2>Попробуй угадать, что искал автор</h2>
            <p>Подсказка находится в правом верхнем углу: это может быть s-форма, c-цвет, r-закономерность, f-шрифт, t-текстура</p>
          </div>
          <div class="content_block">
            <div class="image how1"></div>
          </div>
        </div>

        <div class="how_slide">
          <div class="text_block">
            <h2>Найди что-то похожее и сфоткай</h2>
            <p>Важно, чтобы твоя находка отвечала теме задания</p>
          </div>
          <div class="content_block">
            <div class="image how2"></div>
          </div>
        </div>

        <div class="how_slide">
          <div class="text_block">
            <h2>загрузи свою находку в ответы</h2>
            <p>Ты можешь ориентроваться на находки других, чтобы предположить, что искал автор</p>
          </div>
          <div class="content_block">
            <div class="image how3"></div>
          </div>
        </div>

        <div class="how_slide">
          <div class="text_block">
            <h2>набирай лайки и получай ачивки</h2>
            <p>За каждую выложенную фотку дается 2 балла активности, а за каждый 7 фоток – 10 баллов. Если твоя фотка набирает больше всего лайков в челлендже – ты становишься победителем и получаешь 20 баллов!
            </p>
          </div>
          <div class="content_block">
            <div class="image how4"></div>
            <div class="image how5"></div>
          </div>
        </div>

        <div class="how_slide">
          <div class="text_block">
            <h2>становись первопроходем!</h2>
            <p>Если на главном экране повилось предложение со своим заданием дня – значит ты можешь стать первым, кто увидит исходную форму и именно по сделанной тобой фотке будут искать другие участники.
            </p>
          </div>
          <div class="content_block">
            <div class="image how6"></div>
          </div>
        </div>

      </div>
      <div class="buttons">
        <div class="M_Button secondary blue m back">назад</div>
        <div class="M_Button primary white m next">далее</div>
      </div>
    </div>

    <div class="rec first"></div>
    <div class="rec second">
      <div class="progress_line">
        <div class="current_progress_line"></div>
      </div>
    </div>

  </div>
</body>
