<body id="how">

  <div class="w_align">

<div class="playCard">

  <div class="text">
    <div class="nums">
      <div class="nNext">
        <p>6</p>
      </div>

      <div class="nCurr">
        <p>1</p>
      </div>
    </div>

    <p class="p1">ТИПЫ ЗАДАНИЙ</p>

    <p class="p2">В рефс находки могут быть 5 видов</p>

    <div class="buttons">
      <div class="prev">
        <p>назад</p>
      </div>
      <div class="next">
        <p>далее</p>
      </div>
    </div>
  </div>

  <div class="categories">

    <div class="row1">
      <div class="b2">
        <div class="letter">
          <p>C</p>
        </div>
        <p>colour</p>
      </div>

      <div class="b4">
        <div class="letter">
          <p>R</p>
        </div>
        <p>regularity</p>
      </div>

    </div>

    <div class="row2">

      <div class="b1">
        <div class="letter">
          <p>S</p>
        </div>
        <p>shape</p>
      </div>

      <div class="b3">
        <div class="letter">
          <p>T</p>
        </div>
        <p>texture</p>
      </div>

      <div class="b5">
        <div class="letter">
          <p>F</p>
        </div>
        <p>font</p>
      </div>
    </div>

  </div>
</div>

<div class="timeline"></div>
<div class="new"></div>



</div>

</body>
