<body id="how">
  <div class="how_container">
    <div class="how_gallery">
      <div class="how_gallery_counter">
        <div class="counter">
          <p class="counter_p">1</p>
        </div>
        <div class="all_count">
          <p>6</p>
        </div>
      </div>

      <div class="how_gallery_rail">
        <div class="how_slide">
          <div class="text_block">
            <h2>ТИПЫ ЗАДАНИЙ</h2>
            <p>В рефс находки могут быть 5 видов</p>
          </div>
          <div class="content_block">
            <div class="types">
              <div class="type">
                <div class="circle">
                  <p>C</p>
                </div>
                <p>colour</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>R</p>
                </div>
                <p>regularity</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>S</p>
                </div>
                <p>shape</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>T</p>
                </div>
                <p>texture</p>
              </div>
              <div class="type">
                <div class="circle">
                  <p>F</p>
                </div>
                <p>font</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="buttons">
        <div class="M_Button secondary blue m back">назад</div>
        <div class="M_Button primary white m next">далее</div>
      </div>
    </div>

    <div class="rec first"></div>
    <div class="rec second">
      <div class="progress_line">
        <div class="current_progress_line"></div>
      </div>
    </div>

  </div>
</body>
