<body id="main">

      <h2>МЕДИА ДЛЯ ПОИСКА РЕФОВ</h2>

  <section id="subscribeEmail">
    <div class="containerSubscribtion">
      <h1>Узнай о нашем запуске</h1>
      <%= render 'subscriptions/form', subscription: @subscription%>
    </div>
  </section>
</body>
