<section class="O_Suggestion">
  <div class="Q_Rect first"></div>
  <div class="Q_Rect second"></div>
  <div class="Q_Rect third"></div>
  <div class="M_TextWithButton">
    <div class="W_TextBlock">
      <h1>Хочешь своё задание дня?</h1>
      <p>помни, что если ты откроешь реф и не выполнишь задание, то не сможешь отвечать на него вместе со всеми позже</p>
    </div>
    <div class="W_Buttons">
      <div class="M_Button primary">открыть реф</div>
      <div class="M_Button secondary">отказаться</div>
    </div>
  </div>
  <div class="W_RefPartial">
    <div class="A_HiddenTaskTitle"><%= "#{task.type[0]}#{task.id}" %></div>
  </div>

</section>
