<section class="O_SuggestionOpened">
  <div class="Q_Rect first"></div>
  <div class="Q_Rect second"></div>
  <div class="Q_Rect third"></div>
  <div class="M_TextWithButton">
    <div class="W_TextBlock">
      <h1>Ждём твою находку!</h1>
      <p>Найди что-то похожее на реф, сфотографируй и загрузи сюда</p>
    </div>
    <div class="W_Buttons">
      <div class="M_Button primary s">загрузить фото</div>
      <div class="M_Button secondary s">отказаться</div>
    </div>
  </div>
  <div class="W_RefPartial">
    <div class="A_HiddenTaskTitle"><%= "#{task.type[0]}#{task.id}" %></div>
  </div>

</section>
