<div id="<%= dom_id answer %>">
  <div class="answerCard">
    <%#= image_tag answer.avatar.url, width: 50 %>

    <p>
     <strong><%= answer.name %></strong>
    </p>

    <%#= image_tag answer.cover.url, width: 400 %>

    <p>
      <%= answer.description %>
    </p>
  </div>
</div>
