<p style="color: green"><%= notice %></p>

<div class="answerCreate">
  <h1>Answers</h1>
  <% if can? :create, Answer %>
    <%= link_to "New answer", new_answer_path, class: "button" %>
  <% end %>
</div>


<div id="answers">
  <% @answers.each do | answer | %>
    <%= render answer %>
    <p>
      <%= link_to "Show this answer", answer %>
    </p>
  <% end %>
</div>
