<div id="<%= dom_id shape_task %>">
  <div class="taskCard">
    <h3>
    </h3>

    <div class="ref-container">
      <%= image_tag shape_task.vector_shape.url, class: "refImg" if shape_task.vector_shape.url %>
    </div>

  </div>
</div>
