<div id="<%= dom_id regularity_task %>">
  <div class="taskCard">
    <h3>
    </h3>

    <div class="ref-container">
      <%= image_tag regularity_task.vector_regularity.url, class: "refImg" if regularity_task.vector_regularity.url %>
    </div>

  </div>
</div>
