<div id="<%= dom_id regularity_task %>">
  <div class="taskCard">
    <h3>
      <%= "R#{regularity_task.id}" %>
    </h3>

    <div class="ref-cont" style="background-image: url(<%= regularity_task.vector_regularity.url %>)"></div>

    <%= image_tag regularity_task.first_answer_image.url, class: "firstImg" if regularity_task.first_answer_image.url %>


  </div>
</div>
