#about h1 {
  font-size: 110px;
  text-decoration: none;
  text-transform: uppercase;
}

#about p {
  font-size: 22px;
}

#about p.number {
  font-size: 84px;
  line-height: 84px;
  font-family: "Palette Mosaic";
}

#about p.sub {
  font-size: 15px;
  opacity: 0.5;
}

#team {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
  padding-bottom: 50px;
}

.teamContainer {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 200px;
}

.teamContainer .wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.memberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.memberContainer img {
  margin-bottom: 30px;
}

.memberContainer a {
  text-decoration: none;
  color: white;
  font-size: 26px;
}

.memberContainer a:before {
  width: 26px;
  height: 26px;
  content: url("/assets/tg-white.svg");
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

#misson,
#mechanic,
#tasksTypes {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #174bd0;
}

.missionContainer {
  width: 1300px;
  height: 430px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  background: white;
  clip-path: polygon(0 0, 100% 6%, 98% 98%, 0% 100%);
}

.missionContainer .wrapper {
  width: 100%;
  margin-left: 110px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 160px;
}

.missionContainer h1 {
  line-height: 90px;
}
.missionContainer p {
  width: 600px;
  text-transform: uppercase;
}

.machanicContainer {
  width: 1300px;
  height: 1900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  background: white;
  clip-path: polygon(0 0, 100% 2%, 97% 98%, 0 95%);
}

.machanicContainer h1 {
  margin-left: 110px;
  margin-top: 100px;
}

.machanicContainer .wrapper {
  margin: 0 100px;
  width: auto;
  position: relative;
}

.textContainer {
  display: flex;
  flex-direction: row;
  width: 370px;
  gap: 24px;
  text-transform: uppercase;
}

.first {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 120px;
  width: 420px;
}

.fImg {
  position: absolute;
  right: -160px;
  bottom: 30px;
}

.second {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  top: 120px;
  left: 90%;
}

.secondImg {
  position: absolute;
  margin-top: -50px;
}

.one {
  position: relative;
  left: 20vw;
  top: 130px;
}

.third {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  top: 150px;
}

.third .textContainer,
.fourth .textContainer {
  width: 420px;
}

.thirdImg {
  width: 240px;
  margin-bottom: 40px;
}

.two {
  position: relative;
  left: 25vw;
  top: 400px;
  transform: scaleX(-1);
}

.fourth {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  top: -120px;
  left: 100%;
}

.fourthImg {
  width: 390px;
  margin-bottom: 40px;
  margin-left: 100px;
}

.three {
  position: relative;
  left: 22vw;
  top: 200px;
}

.typesContainer {
  width: 1300px;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  z-index: 2;
  background: white;
  clip-path: polygon(0 3%, 98% 0, 100% 98%, 0 98%);
}

.typesContainer .wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 70px;
}

.typesContainer h1 {
  margin: 50px 0 80px 110px;
}

.typesContainer p {
  margin: 0px 0 30px 110px;
  text-transform: uppercase;
}

.typeContainer {
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.typeContainer img {
  width: 140px;
  margin-bottom: 30px;
}

.typeContainer p {
  margin: 0;
  font-size: 20px;
  text-align: center;
  text-transform: lowercase;
}

.tasksBg {
  width: 100vw;
  position: relative;
  margin-top: -5%;
  z-index: 1;
}
