body {
  background: var(--lightgray);
}

// убирает полосу горизонтальной прокрутки
* {
  scroll-behavior: smooth;
}

* ::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

body,
p {
  font-family: 'Fugue';
  font-weight: 400;
}

p {
  font-size: 22px;
}

h1 {
  font-size: 42px;
  font-weight: 600;
}

select,
input {
  border: 0;
  outline: 0;
}

ul {
  li {
    list-style-type: disc;
    font-size: 28px;
    line-height: 33px;
    width: 80%;
    margin: 0 0 20px 28px;
  }
}

.Q_Grid {
  // width: 1660px;
  width: 98vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  margin: 160px auto;
  position: relative;
  overflow-x: hidden;
}

#answers {}

.ref-container {
  width: 300px;
  height: 300px;
  background-color: #f3f2ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ref-cont {
  width: 300px;
  height: 300px;
  background-color: #f3f2ed;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.refImg {
  width: 200px;
  height: 200px;
  border-radius: 30px;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.refVec {
  width: 200px;
  height: 200px;
}

.firstImg {
  width: 300px;
  height: 300px;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.answerImg {
  width: 200px;
  height: 200px;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.button {
  width: 260px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-blue);
  font-size: 28px;
  border-radius: 100px;
  border: 1px solid var(--main-blue);
  cursor: pointer;

  &:hover {
    color: var(--main-blue);
    background-color: var(--white);
    border: none;
    transition: all 0.5s ease-out;
  }

  &:active {
    color: var(--main-blue);
    background-color: var(--white-click);
    border: none;
  }

  &.primary {
    color: var(--white);
    background-color: var(--main-blue);

    &:hover {
      background-color: var(--blue-hover);
      transition: all 0.5s ease-out;
    }

    &:active {
      background-color: var(--blue-click);
    }
  }
}


// адаптивы

// @media only screen and (min-width: 1024px) and (max-width: 1660px) {
//   .Q_Grid {
//     width: 964px;
//   }
// }

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .Q_Grid {
    // width: 328px;
    width: 90vw;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin: 84px auto;
  }
}