body {
  background: var(--lightgray);
}

body,
p {
  font-family: "Fugue";
  font-weight: 400;
}

p {
  font-size: 22px;
}

h1 {
  font-size: 42px;
  font-weight: 600;
}

.Q_Grid {
  width: 1660px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  margin: 160px auto;
  position: relative;
}

.new_user {
  position: relative;
  top: 150px;
  left: 45vw;
}

.ref-container {
  width: 300px;
  height: 300px;
  background-color: #f3f2ed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ref-cont {
  width: 300px;
  height: 300px;
  background-color: #f3f2ed;
  background-size: 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.refImg {
  width: 200px;
  height: 200px;
  border-radius: 30px;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.refVec {
  width: 200px;
  height: 200px;
}

.firstImg {
  width: 300px;
  height: 300px;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.answerImg {
  width: 200px;
  height: 200px;

  img {
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
}

.button {
  width: 260px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-blue);
  font-size: 28px;
  border-radius: 100px;
  border: 1px solid var(--main-blue);
  cursor: pointer;

  &:hover {
    color: var(--main-blue);
    background-color: var(--white);
    border: none;
  }

  &:active {
    color: var(--main-blue);
    background-color: var(--white-click);
    border: none;
  }

  &.primary {
    color: var(--white);
    background-color: var(--main-blue);

    &:hover {
      background-color: var(--blue-hover);
    }

    &:active {
      background-color: var(--blue-click);
    }
  }
}

// стили для страницы о нас

#about {
  .w_align {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .firstBlock {
    width: 97vw;
    height: 42.5vw;
    background-image: url("assets/shape1.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vw;
    margin-left: 1vw;

    p {
      font-size: 2.5vw;
      font-weight: 600;
      color: var(--white);
      position: relative;
      top: 2.5vw;
      left: 8vw;
      width: 38vw;
    }

    .avas {
      width: 97vw;
      height: 42.5vw;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      .ulya {
        height: 28.5vw;
        width: 24vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        border-radius: 2vw;

        .photo {
          height: 14vw;
          width: 14vw;
          background-image: url("assets/Ellipse990.png");
          background-size: cover;
          margin-top: 2.5vw;
        }

        p {
          font-size: 2.5vw;
          font-weight: 600;
          color: var(--main-blue);
          position: relative;
          width: 38vw;
          margin-left: 17vw;
        }

        .nik {
          height: 3.5vw;
          width: 24vw;
          display: flex;
          flex-direction: row;
          align-items: center;

          .tg {
            height: 1.65vw;
            width: 2.6vw;
            background-image: url("assets/tg_icon.png");
            background-size: contain;
            margin-left: 5.2vw;
            margin-top: 5.4vw;
          }

          p {
            font-size: 1.8vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            width: 38vw;
            margin-left: -7vw;
          }
        }
      }

      .katya {
        height: 28.5vw;
        width: 24vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        border-radius: 2vw;
        margin-left: 4vw;

        .photo {
          height: 14vw;
          width: 14vw;
          background-image: url("assets/Ellipse991.png");
          background-size: cover;
          margin-top: 2.5vw;
        }

        p {
          font-size: 2.5vw;
          font-weight: 600;
          color: var(--main-blue);
          position: relative;
          width: 38vw;
          margin-left: 17vw;
        }

        .nik {
          height: 3.5vw;
          width: 24vw;
          display: flex;
          flex-direction: row;
          align-items: center;

          .tg {
            height: 1.65vw;
            width: 2.6vw;
            background-image: url("assets/tg_icon.png");
            background-size: contain;
            margin-left: 4.25vw;
            margin-top: 5.4vw;
          }

          p {
            font-size: 1.8vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            width: 38vw;
            margin-left: -7vw;
          }
        }
      }

      .tanya {
        height: 28.5vw;
        width: 24vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--white);
        border-radius: 2vw;
        margin-left: 4vw;

        .photo {
          height: 14vw;
          width: 14vw;
          background-image: url("assets/Ellipse992.png");
          background-size: cover;
          margin-top: 2.5vw;
        }

        p {
          font-size: 2.5vw;
          font-weight: 600;
          color: var(--main-blue);
          position: relative;
          width: 38vw;
          margin-left: 17vw;
        }

        .nik {
          height: 3.5vw;
          width: 24vw;
          display: flex;
          flex-direction: row;
          align-items: center;

          .tg {
            height: 1.65vw;
            width: 2.6vw;
            background-image: url("assets/tg_icon.png");
            background-size: contain;
            margin-left: 6vw;
            margin-top: 5.4vw;
          }

          p {
            font-size: 1.8vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            width: 38vw;
            margin-left: -7vw;
          }
        }
      }
    }
  }

  .secondBlock {
    width: 97vw;
    height: 18vw;
    background-image: url("assets/shape2.svg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-top: 3vw;

    .categories {
      width: 55vw;
      height: 18vw;
      display: flex;
      flex-direction: row;
      align-items: center;

      .b1 {
        width: 11vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1vw;
        margin-top: 2.5vw;

        .letter {
          width: 7.5vw;
          height: 7.5vw;
          border-radius: 30vw;
          border: 2px solid var(--main-blue);

          p {
            font-size: 7vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            margin-top: 0.5vw;
            margin-left: 1.7vw;
          }
        }

        p {
          font-size: 1.3vw;
          font-weight: 400;
          color: var(--main-blue);
          position: relative;
          margin-top: 0.9vw;
        }
      }

      .b2 {
        width: 11vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5vw;

        .letter {
          width: 7.5vw;
          height: 7.5vw;
          border-radius: 30vw;
          border: 2px solid var(--main-blue);

          p {
            font-size: 7vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            margin-top: 0.5vw;
            margin-left: 1vw;
          }
        }

        p {
          font-size: 1.3vw;
          font-weight: 400;
          color: var(--main-blue);
          position: relative;
          margin-top: 0.9vw;
        }
      }

      .b3 {
        width: 11vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5vw;

        .letter {
          width: 7.5vw;
          height: 7.5vw;
          border-radius: 30vw;
          border: 2px solid var(--main-blue);

          p {
            font-size: 7vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            margin-top: 0.5vw;
            margin-left: 1.7vw;
          }
        }

        p {
          font-size: 1.3vw;
          font-weight: 400;
          color: var(--main-blue);
          position: relative;
          margin-top: 0.9vw;
        }
      }

      .b4 {
        width: 11vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5vw;

        .letter {
          width: 7.5vw;
          height: 7.5vw;
          border-radius: 30vw;
          border: 2px solid var(--main-blue);

          p {
            font-size: 7vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            margin-top: 0.5vw;
            margin-left: 1.6vw;
          }
        }

        p {
          font-size: 1.3vw;
          font-weight: 400;
          color: var(--main-blue);
          position: relative;
          margin-top: 0.9vw;
        }
      }

      .b5 {
        width: 11vw;
        height: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.5vw;

        .letter {
          width: 7.5vw;
          height: 7.5vw;
          border-radius: 30vw;
          border: 2px solid var(--main-blue);

          p {
            font-size: 7vw;
            font-weight: 400;
            color: var(--main-blue);
            position: relative;
            margin-top: 0.5vw;
            margin-left: 1.7vw;
          }
        }

        p {
          font-size: 1.3vw;
          font-weight: 400;
          color: var(--main-blue);
          position: relative;
          margin-top: 0.9vw;
        }
      }
    }

    .text {
      width: 33vw;
      height: 18vw;
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 5vw;
      margin-top: 6vw;

      p:nth-child(1) {
        font-size: 2.5vw;
        font-weight: 600;
        color: var(--black);
      }

      p:nth-child(2) {
        font-size: 1.3vw;
        font-weight: 400;
        color: var(--black);
        margin-top: 0.9vw;
      }
    }
  }

  .thirdBlock {
    width: 87vw;
    height: 12vw;
    background-image: url("assets/shape3.svg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-top: 5vw;

    p:nth-child(1) {
      font-size: 2.5vw;
      font-weight: 600;
      color: var(--black);
      margin-left: 3.8vw;
      margin-top: -4vw;
    }

    p:nth-child(2) {
      font-size: 1.3vw;
      font-weight: 400;
      color: var(--main-blue);
      margin-top: 0.9vw;
      margin-left: 4.5vw;
      margin-top: 7vw;
    }

    p:nth-child(3) {
      font-size: 1.3vw;
      font-weight: 400;
      color: var(--main-blue);
      margin-top: 0.9vw;
      margin-left: 2.3vw;
      margin-top: -1.1vw;
    }

    p:nth-child(4) {
      font-size: 1.3vw;
      font-weight: 400;
      color: var(--main-blue);
      margin-top: vw;
      margin-left: 1.5vw;
      margin-top: 7vw;
    }

    .hseLogo {
      width: 12vw;
      height: 5vw;
      background-image: url("assets/hse_logo.png");
      background-size: cover;
      margin-left: 2.9vw;
      margin-top: -3vw;
    }
  }

  .O_Footer {
    position: relative;
    margin-top: 10vw;
    left: 0;
  }
}

// стили для страницы как играть

#how {
  .how_container {
    width: 1660px;
    height: 770px;
    margin: 150px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: var(--main-blue);
    color: var(--white);
  }

  .how_gallery {
    width: -webkit-fill-available;
    overflow: hidden;
    padding: 30px 40px 50px 40px;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .how_gallery_counter {
    display: flex;
    flex-direction: row;
    align-items: center;

    .counter,
    .all_count {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: var(--main-blue);
    }

    .counter {
      width: 130px;
      height: 130px;
      border: solid 2px var(--white);
      position: relative;
      z-index: 3;
    }

    .counter_p {
      font-size: 68px;
      font-weight: 400;
      text-align: center;
    }

    .all_count {
      width: 80px;
      height: 80px;
      margin-left: -25px;
      font-size: 42px;
      border: solid 2px var(--gray);
      color: var(--gray);
      position: relative;
      z-index: 2;
    }
  }

  .how_gallery_rail {
    width: max-content;
    display: flex;
    flex-direction: row;
    transform: translate(-0px);
    transition: all ease-in-out 1s;
  }

  .how_slide {
    width: 1620px;
    display: flex;
    flex-direction: row;
  }

  .text_block {
    width: 624px;
    margin-top: 66px;
    display: flex;
    flex-direction: column;
    gap: 22px;

    h2 {
      font-size: 52px;
      font-style: normal;
      font-weight: 600;
    }

    p {
      font-size: 22px;
      width: 70%;
    }
  }

  .content_block {
    position: relative;
  }

  .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.how1,
    &.how2,
    &.how6 {
      width: 680px;
      height: 680px;
      border-radius: 30px;
      position: absolute;
      top: -110px;
    }

    &.how1 {
      background-image: url("assets/how1.gif");
    }

    &.how2 {
      background-image: url("assets/how2.png");
    }

    &.how6 {
      background-image: url("assets/how6.png");
    }

    &.how3 {
      width: 992px;
      height: 749px;
      position: absolute;
      top: -130px;
      left: -36px;
      background-image: url("assets/how3.gif");
    }

    &.how4 {
      width: 680px;
      height: 680px;
      position: absolute;
      top: -110px;
      left: 276px;
      background-image: url("assets/how4.png");
    }

    &.how5 {
      width: 591px;
      height: 212px;
      position: absolute;
      top: 30px;
      background-image: url("assets/how5.png");
    }
  }

  .types {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0px 194px;
    user-select: none;
  }

  .type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    p {
      font-size: 34px;
    }

    .circle {
      width: 200px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      border: solid 3px var(--white);

      p {
        font-size: 172px;
      }
    }
  }

  .buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;

    .M_Button {
      padding: 16px 60px;
    }
  }

  .rec {
    position: absolute;
    background: var(--main-blue);
    border-radius: 30px;

    &.first {
      width: 1560px;
      height: 100px;
      bottom: -60px;
      z-index: -1;
    }

    &.second {
      width: 1460px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      bottom: -100px;
    }
  }

  .progress_line {
    width: 1300px;
    height: 1px;
    display: flex;
    justify-content: flex-start;
    border-radius: 3px;
    background: var(--lightgray);

    .current_progress_line {
      width: 16.6%;
      height: 1px;
      border-radius: 3px;
      background: var(--white);
    }
  }
}

/// главная страница

#main {
  h1 {
    color: var(--black);
    text-align: center;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
  }

  p {
    color: var(--black);
    text-align: center;
    font-size: 22px;
    font-weight: 400;
  }

  #gallery_main {
    width: 100%;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .gallery_container {
      width: 1660px;
      height: 845px;
      background: var(--main-blue);
      clip-path: path("M1380 30C1380 13.4315 1366.57 0 1350 0H310C293.431 0 280 13.4315 280 30V49C280 65.5685 266.569 79 250 79H30C13.4315 79 0 92.4315 0 109V733C0 749.569 13.4315 763 30 763H250C266.569 763 280 776.431 280 793V815C280 831.569 293.431 845 310 845H1350C1366.57 845 1380 831.569 1380 815V793C1380 776.431 1393.43 763 1410 763H1630C1646.57 763 1660 749.569 1660 733V109C1660 92.4315 1646.57 79 1630 79H1410C1393.43 79 1380 65.5685 1380 49V30Z"
        );
      overflow: hidden;
      position: relative;
    }

    .gallery_rail {
      width: max-content;
      display: flex;
      flex-direction: row;
      position: relative;
      transform: translateX(0%);
      transition: transform 1s ease;
    }

    .gallery_slide {
      width: 1660px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      h1 {
        margin-top: 45px;
        max-width: 680px;
        color: var(--white);
      }

      .gallery_first_img {
        width: 1200px;
        height: 626px;
        background-image: url("assets/main-gallery-1.png");
        background-position: center;
        background-repeat: no-repeat;
      }

      .gallery_second_img {
        margin-top: 44px;
        width: 900px;
        height: 626px;
        background-image: url("assets/main-gallery-2.png");
        background-position: center;
        background-repeat: no-repeat;
      }

      .gallery_third_img {
        margin-left: 140px;
        width: 1400px;
        height: 466px;
        background-image: url("assets/main-gallery-3.png");
        background-position: center;
        background-repeat: no-repeat;
      }
    }

    .gallery_counter {
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      bottom: 120px;
      right: 40px;

      .counter {
        width: 130px;
        height: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 2px solid var(--white);
        background: var(--main-blue);
        position: relative;
        z-index: 2;

        p {
          font-size: 68px;
          color: var(--white);
        }
      }

      .all_count {
        margin-left: -20px;
        width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        border: 2px solid #bbbaba;
        background: var(--main-blue);
        position: relative;
        z-index: 1;

        p {
          font-size: 42px;
          color: #bbbaba;
        }
      }
    }

    .progress_line {
      margin: 40px auto;
      width: 986px;
      height: 1px;
      border-radius: 1px;
      background: var(--lightgray);
    }

    .current_progress_line {
      width: 35%;
      height: 3px;
      border-radius: 3px;
      background: var(--white);
    }

    .wrapper {
      width: 1660px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      position: relative;
      bottom: 66px;
    }
  }

  #task_types {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .types_container {
      width: 1380px;
      height: 310px;
      background: var(--white);
      clip-path: path("M960 30C960 13.4315 946.569 0 930 0H450C433.431 0 420 13.4315 420 30V45C420 61.5685 406.569 75 390 75H30C13.4315 75 0 88.4315 0 105V281C0 297.569 13.4315 311 30 311H1350C1366.57 311 1380 297.569 1380 281V105C1380 88.4315 1366.57 75 1350 75H990C973.431 75 960 61.5685 960 45V30Z"
        );
    }

    .types_content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 26px;

      h1 {
        margin-top: 44px;
      }
    }

    .wrapper {
      width: 1100px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .type {
      width: 220px;
      height: 148px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: var(--white);
      border-radius: 30px;
      cursor: default;

      .circle {
        margin-bottom: 12px;
        width: 56px;
        height: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid var(--black);

        p {
          font-size: 48px;
        }
      }

      h3 {
        margin-bottom: 4px;
        text-align: center;
        font-size: 32px;
        font-weight: 600;
      }

      p {
        font-size: 18px;
      }
    }

    .type:hover {
      background: var(--main-blue);
      color: var(--white);

      .circle {
        border: 1px solid var(--white);
      }

      p {
        color: var(--white);
      }
    }

    .types_image {
      margin-top: 25px;
      width: 1410px;
      height: 615px;
      background-image: url("assets/main-types.png");
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  #how_to_play {
    width: 100%;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .shape {
      width: 826px;
      height: 460px;
      background: var(--main-blue);
      clip-path: path("M579 29.3089C579 13.122 592.122 0 608.309 0H797.691C813.878 0 827 13.122 827 29.3089V218.691C827 234.878 813.878 248 797.691 248H717V315C717 331.569 703.569 345 687 345H248V431.691C248 447.878 234.878 461 218.691 461H29.3089C13.122 461 0 447.878 0 431.691V242.309C0 226.122 13.122 213 29.3089 213H89V146C89 129.431 102.431 116 119 116H579V29.3089Z"
        );
      position: relative;

      .shape_first {
        width: 198px;
        height: 198px;
        background-image: url("assets/main-play-1.svg");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        top: 24px;
        right: 24px;
      }

      .shape_second {
        width: 198px;
        height: 198px;
        background-image: url("assets/main-play-2.png");
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        bottom: 24px;
        left: 24px;
      }

      .wrapper {
        margin: 160px auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 26px;

        h1 {
          color: var(--white);
        }

        .button {
          color: var(--white);
          border: 1px solid var(--white);
          text-decoration: none;

          &:hover {
            color: var(--main-blue);
            background-color: var(--white);
          }

          &:active {
            color: var(--main-blue);
            background-color: var(--white-click);
          }
        }
      }
    }
  }

  #collection {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .answers_container {
      width: 100vw;
      height: max-content;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    .answers_rail {
      display: flex;
      flex-direction: row;
      width: max-content;
      gap: 20px;
    }

    .wrapper {
      margin-top: 60px;
      width: 676px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      p {
        width: 60%;
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1700px) {
  .Q_Grid {
    width: 964px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 700px) {
  .Q_Grid {
    width: 328px;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    margin: 84px auto;
  }
}