body {
  height: 100%;
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

nav {
  max-width: 1440px;
  padding: 10px 40px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  user-select: none;
  z-index: 10;
}

nav .logo {
  width: 95px;
  height: 95px;
  cursor: pointer;
  background-image: url("/assets/logo-small.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.headerLinks,
.adminLinks {
  display: flex;
  gap: 46px;
}

.headerLinks a,
.adminLinks a {
  font-size: 46px;
  font-family: "Helsa Display";
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  text-shadow: 0px 1px 4px rgba(255, 255, 255, 0.72);
}

footer {
  max-width: 1440px;
  height: 200px;
  padding: 10px 40px;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  user-select: none;
  position: relative;
  z-index: 10;
}

.curators p:first-child {
  margin-bottom: 10px;
}

p,
h3,
a {
  font-family: "SF Pro Display";
  margin: 0;
}

h1,
h2 {
  font-family: "Helsa Display";
  font-weight: 400;
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 140%;
}

h3 {
  font-size: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.title h1 {
  font-size: 50px;
  margin: 0;
}

.button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: white;
  background: black;
  cursor: pointer;
}

.button:hover {
  background: #343434;
}

.smallButton {
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  background: lightgrey;
  cursor: pointer;
}

.smallButton:hover {
  background: #ababab;
}



/* * {
  box-sizing: border-box;
}

.contentArea {
  width: 700px;
  margin: 0 auto;
}

.comment {
  width: 100%;
  max-width: 700px;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid black;
}

#comment_body {
  width: 100%;
  height: 140px;
  ;
}

.commentReplies {
  padding-left: 40px;
}

.commentReplies>div {
  padding: 20px;
} */