@font-face {
  font-family: "Helsa Display";
  src: url("/assets/HelsaDisplay-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("/assets/SF-Pro-Display-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Palette Mosaic";
  src: url("/assets/PaletteMosaic-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
