:root {
  --white: white;
  --black: black;
  --lightgray: #e4e4e6;
  --main-blue: #0500ff;

  --opened: path(
    "M751.277 0C763.207 3.20361 772 14.0938 772 27.0449V53.4331C772 67.5391 782.43 79.2085 796 81.1494V82H0V81.4321C15.3594 81.3105 27.7734 68.8213 27.7734 53.4331V27.0278C27.7734 14.1001 36.5312 3.22461 48.4297 0H316.754L428 0.414551L523.609 0H751.277Z"
  );
  --task-small-clip: path(
    "M0 30.4922C0 13.9236 13.4315 0.492188 30 0.492188H370C386.569 0.492188 400 13.9236 400 30.4922V313.845C400 330.414 386.569 343.845 370 343.845H223.353C206.784 343.845 193.353 357.277 193.353 373.845V384.022C193.353 393.118 185.979 400.492 176.882 400.492H30C13.4314 400.492 0 387.061 0 370.492V30.4922Z"
  );
}
