:root {
  --white: white;
  --black: black;
  --lightgray: #e4e4e6;
  --main-blue: #0500ff;
  --blue-hover: #0400d8;
  --blue-click: #0400b8;
  --white-hover: #e9e9ff;
  --white-click: #d8d7ff;

  --opened: path(
    "M751.277 0C763.207 3.20361 772 14.0938 772 27.0449V53.4331C772 67.5391 782.43 79.2085 796 81.1494V82H0V81.4321C15.3594 81.3105 27.7734 68.8213 27.7734 53.4331V27.0278C27.7734 14.1001 36.5312 3.22461 48.4297 0H316.754L428 0.414551L523.609 0H751.277Z"
  );
  --task-small-clip: path(
    "M0 30.4922C0 13.9236 13.4315 0.492188 30 0.492188H370C386.569 0.492188 400 13.9236 400 30.4922V313.845C400 330.414 386.569 343.845 370 343.845H223.353C206.784 343.845 193.353 357.277 193.353 373.845V384.022C193.353 393.118 185.979 400.492 176.882 400.492H30C13.4314 400.492 0 387.061 0 370.492V30.4922Z"
  );

  --task-big-clip: path(
    "M0 28C0 12.536 12.536 0 28 0H652C667.464 0 680 12.536 680 28V571C680 586.464 667.464 599 652 599H406C390.536 599 378 611.536 378 627V652C378 667.464 365.464 680 350 680H28C12.536 680 0 667.464 0 652V28Z"
  );

  --task-medium-clip: path(
    "M0 28C0 12.536 12.536 0 28 0H512C527.464 0 540 12.536 540 28V448C540 463.464 527.464 476 512 476H352C336.536 476 324 488.536 324 504V512C324 527.464 311.464 540 296 540H28C12.536 540 0 527.464 0 512V28Z"
  );

  --card-new-task-first: path(
    "M930 0H1630C1646.57 0 1660 13.4315 1660 30V842C1660 858.569 1646.57 872 1630 872H882C865.431 872 852 858.569 852 842V800C852 784.536 839.464 772 824 772H30C13.4315 772 0 758.569 0 742V30C0 13.4314 13.4315 0 30 0H882H930Z"
  );

  --card-new-task-even: path(
    "M30 856.492C13.4315 856.492 0 843.061 0 826.492V30.4922C0 13.9236 13.4314 0.492188 30 0.492188H778C794.569 0.492188 808 13.9237 808 30.4922V72.4922C808 87.9562 820.536 100.492 836 100.492H1630C1646.57 100.492 1660 113.924 1660 130.492V726.492C1660 743.061 1646.57 756.492 1630 756.492H836C820.536 756.492 808 769.028 808 784.492V826.492C808 843.061 794.569 856.492 778 856.492H30Z"
  );

  --card-new-task-odd: path(
    "M1630 856.492C1646.57 856.492 1660 843.061 1660 826.492V30.4922C1660 13.9236 1646.57 0.492188 1630 0.492188H882C865.431 0.492188 852 13.9237 852 30.4922V72.4922C852 87.9562 839.464 100.492 824 100.492H30C13.4315 100.492 0 113.924 0 130.492V726.492C0 743.061 13.4315 756.492 30 756.492H824C839.464 756.492 852 769.028 852 784.492V826.492C852 843.061 865.431 856.492 882 856.492H1630Z"
  );

  --task-with-two-buttons: path(
    "M0 28C0 12.536 12.536 0 28 0H652C667.464 0 680 12.536 680 28V571C680 586.464 667.464 599 652 599H108C92.536 599 80 611.536 80 627V652C80 667.464 67.464 680 52 680H28C12.536 680 0 667.464 0 652V28Z"
  );
}
