:root {
  --white: white;
  --black: black;
  --lightgray: #f4f4f4;
  --gray: #bbbaba;
  --main-blue: #0500ff;
  --blue-hover: #0400d8;
  --blue-click: #0400b8;
  --white-hover: #e9e9ff;
  --white-click: #bdbbff;
  --mint: #9ae7f2;
  --pink: #ffcbe4;
  --red: #7b0000;
  --red-hover: #620000;
  --red-click: #3f0000;
  --yellow: #f2d5b5;
  --dark-yellow: #745300;
}
