<div id="<%= dom_id shape_task %>">
  <div class="taskCard">
    <h3>
    <%= "S#{shape_task.id}" %>
    </h3>

    <div class="ref-cont" style="background-image: url(<%= shape_task.vector_shape.url %>)"></div>

    <%= image_tag shape_task.first_answer_image.url, class: "firstImg" if shape_task.first_answer_image.url %>

  </div>
</div>
