<footer>
  <div class="O_Footer">
    <div class="Q_Rect first"></div>
    <div class="Q_Rect second"></div>
    <div class="Q_Rect third"></div>

<div class="M_FooterBody">
    <div class="C_FooterLinks">
      <div class="W_LeftLinks">
          <%= link_to "о нас", about_path, class: "A_FooterLink" %>
        <div class="W_TwoLinks">
          <%= link_to "как играть", howToPlay_path, class: "A_FooterLink" %>
          <%= link_to "помощь", welcome_path, class: "A_FooterLink" %>
          
        </div>
      </div>

      <div class="W_TwoLinks">
        <a target="_blank" href="https://t.me/reeeefs" class="A_FooterLink">телеграм</a>
        <a target="_blank" href="https://www.instagram.com/refs_community" class="A_FooterLink">инста</a>
      </div>
    </div>

    <%= link_to "", welcome_path, class: "A_Logo" %>
  </div>
  </div>
</footer>
