<div id="<%= dom_id colour_task %>">
  <div class="taskCard">
    <h3>
    <%= colour_task.name %>
    </h3>

    <div class="ref-container">
      <div class="refImg" style="background-color: <%= colour_task.colour_hex %>"></div>
      <p>
        <%= colour_task.description %>
      </p>
    </div>

  </div>
</div>
