<div class="C_TasksTypes">
  <div class="A_TaskType small" data-id="S">S</div>
  <div class="A_TaskType small" data-id="C">C</div>
  <div class="A_TaskType small" data-id="F">F</div>
  <div class="A_TaskType small" data-id="R">R</div>
  <div class="A_TaskType small" data-id="T">T</div>
</div>

<div class="A_Filter">
  <label for="filters">сортировать по</label>
  <select name="filters" id="Q_Filters">
    <option value="popularity">Популярности</option>
    <option value="time">Времени</option>
  </select>
</div>
