<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
         body {
        font-family: "Fugue";
        background: #E4E4E6;
      }

      h1 {
        color: #0500FF;
      }

      p {
        color: black;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
