<div id="<%= dom_id font_task %>">
  <div class="taskCard">
    <h3>
    </h3>

    <div class="ref-container">
      <%= image_tag font_task.vector_font.url, class: "refImg" if font_task.vector_font.url %>
    </div>

  </div>
</div>
