<div id="<%= dom_id font_task %>">
  <div class="O_Task">
    <%= image_tag font_task.vector_font.url, class: "Q_RefImage" if font_task.vector_font.url %>
   
    <div class="C_TaskCircles">
      <div class="A_TaskType">F</div>
    </div>
    <div class="W_BottomPart">
      <div class="M_TitleCardTask">
      <div class="A_TaskTitle"><%= "F#{font_task.id}" %></div>
      </div>
      <%= link_to "редактировать", edit_admin_task_path(font_task), class: "M_Button secondary" %>
    </div>
  </div>
</div>
